<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://db.onlinewebfonts.com/a/gs8y61eYatSTb0VRShL4N2ayCvfOf2BFt43xu0VB" rel="stylesheet"
        type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Afacad&family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../static/index.css">
    <title>Document</title>
</head>

<body>
    <h1>Email Client</h1>
    <form action="/submit" method="post" autocomplete="off" enctype="multipart/form-data">
        <div class="form__container">
            <div class="input__container">
                <label for="emailAddress">Mail recipient address</label>
                <input type="email" id="emailAddress" name="emailAddress">
            </div>
            <div class="input__container">
                <label for="emailSubject">Subject of the e-mail</label>
                <input type="text" id="emailSubject" name="emailSubject" autocomplete="new-email">
            </div>
            <div class="input__container">
                <label for="emailBody">Body of the email</label>
                <input type="text" id="emailBody" name="emailBody" autocomplete="new-email">
            </div>
            <div class="input__container">
                <div class="input__container input__container-file">
                    <input type="file" id="emailAttachment" name="emailAttachment" hidden />
                    <label for="emailAttachment" class="custom-file-upload">The file attached</label>
                    <span id="file-chosen">No file chosen</span>
                </div>
            </div>
        </div>
        <input type="submit" value="Submit">
    </form>
    <script>
        const emailAttachment = document.getElementById('emailAttachment');
        const fileChosen = document.getElementById('file-chosen');

        emailAttachment.addEventListener('change', function (event) {
            if (event.target.files.length > 0) {
                fileChosen.textContent = event.target.files[0].name;
                fileChosen.style.color = 'white';
            } else {
                fileChosen.textContent = 'No file chosen';
            }
        });
    </script>
</body>

</html>